{% include "header.html" with {data: data} %}
<div class="container">

	<div class='row'>
		<ul class="list-inline">
			<li>
				<button onclick="location.href = '{{ data.baseUrl }}entry/';">Back</button>
			</li>
			<li>
				<button onclick="location.href = '{{ data.baseUrl }}entry/update/{{ data.data.id }}';">Update</button>
			</li>
			<li>

				<form action="{{ data.baseUrl }}entry/delete/{{ data.data.id }}" method="post">
				    <button>Delete</button>
				</form>

			</li>
		</ul>
	</div>

	<div class="row">
	        
	    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">

	        <table class="table">
	            <thead>
	                <tr>
	                    <th>Place: </th>
	                    <th>{{ data.data.place }}</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td><strong>By: </strong></td>
	                    <td>{{ data.data.user_id }}</td>
	                </tr>
	                <tr>
	                    <td><strong>Modified: </strong></td>
	                    <td>{{ data.data.time }}</td>
	                </tr>
	            </tbody>
	        </table>

	        <hr />

	        <div>
	            <p><strong>Comments: </strong></p>
	            <p>{{ data.data.comments }}</p>
	        </div>

	    </div>
	        
	    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
	        <img src="{{ data.data.img }}" class="img-responsive medium" alt="{{ data.data.place }}">
	    </div>

	</div>

</div>
{% include "footer.html" with {data: data} %}
	